doctype html
html(lang="en")
  head
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    meta(name="keywords", content="antonio,bustos,valencia,berlin,portfolio,antoniobusrod,busrod,cv")
    meta(name="description", content="Antonio Bustos, software developer focused on web, network and mobile applications.")
    meta(name="author", content="Antonio Bustos")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    title Antonio Bustos
    style
      include style.css
  body
    h1 Antonio Bustos

    :markdown
      I can define myself as a curious and tireless geek man of the new technologies and a committed citizen of the sustainability of the world we share. I must not forget to mention my enthusiasm towards the web, mobile and network software development.

    :markdown
      This portfolio aims to resume essentials links about me in Internet. My computing career, education and the skills I have learned all throughout my career appear in [Linkedin](https://es.linkedin.com/in/antoniobusrod). Most of open source contribution is in [Github](https://github.com/antoniobusrod).

    :markdown
      Contact me by email to receive my CV in PDF format (with more information).

    h2 Links

    ul.links
      li
        a(href="mailto:antoniobusrod[at]gmail[dot]com")
          img(src="https://ssl.gstatic.com/ui/v1/icons/mail/favicon.ico")
          span Email
      li
        a(href="https://linkedin.com/in/antoniobusrod")
          img(src="https://linkedin.com/favicon.ico")
          span Linkedin
      li
        a(href="https://github.com/antoniobusrod")
          img(src="https://github.com/favicon.ico")
          span GitHub
      li
        a(href="https://twitter.com/antoniobusrod")
          img(src="https://twitter.com/favicon.ico")
          span Twitter
      li
        a(href="http://blog.busrod.net")
          img(src="http://blog.busrod.net/favicon.ico")
          span Blog
      li
        a(href="https://keybase.io/antoniobusrod")
          img(src="https://keybase.io/favicon.ico") 
          span keybase
      li
        a(href="https://github.com/antoniobusrod/antoniobusrod.github.io/blob/master/snippets.md")
          img(src="https://github.com/favicon.ico")
          span snippets

    footer
      hr
      blockquote Respice post te! Hominem te esse memento!

