doctype html
html(lang="en")
  head
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    meta(name="keywords", content="antonio,bustos,valencia,berlin,portfolio,antoniobusrod,busrod,cv")
    meta(name="description", content="Antonio Bustos, software engineer focused on web and network applications.")
    meta(name="author", content="Antonio Bustos")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    title Antonio Bustos
    style
      include style.css
  body
    h1 Antonio Bustos

    :markdown-it(linkify langPrefix='highlight-')
      Software engineer currently focused on network applications within Python and Javascript. Besides, I am related with development, quality, deployment and reliability matters on server applications.

    :markdown-it(linkify langPrefix='highlight-')
      This portfolio aims to resume essentials links about me in Internet. My computing career, education and the skills I have learned all throughout my career appear in [Linkedin](https://es.linkedin.com/in/antoniobusrod). Most of open source contribution is in [Github](https://github.com/antoniobusrod).

    :markdown-it(linkify langPrefix='highlight-')
      Contact me by email to receive my CV in PDF format (with more information).

    :markdown-it(linkify langPrefix='highlight-')
      However, if you want to form a Rock band, in Valencia, feel free to contact me :D

    h2 Links

    ul
      li
        a(href="mailto:antoniobusrod[at]gmail[dot]com")
          .img-wrapper
          span Email
      li
        a(href="https://linkedin.com/in/antoniobusrod")
          .img-wrapper
          span Linkedin
      li
        a(href="https://github.com/antoniobusrod")
          .img-wrapper
          span GitHub
      li
        a(href="https://twitter.com/antoniobusrod")
          .img-wrapper
          span Twitter
      li
        a(href="https://speakerdeck.com/antoniobusrod/")
          .img-wrapper
          span Speaker Deck
      li
        a(href="https://blog.busrod.net")
          .img-wrapper
          span Blog
      li
        a(href="https://keybase.io/antoniobusrod")
          .img-wrapper
          span keybase
      li
        a(href="https://github.com/antoniobusrod/antoniobusrod.github.io/blob/master/snippets.md")
          .img-wrapper
          span snippets

    footer
      hr
      blockquote We are all apprentices in a craft where no one ever becomes a master

    script(src="index.js")

