doctype html
html(lang="en")
  head
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    meta(name="keywords", content="antonio,bustos,valencia,berlin,portfolio,antoniobusrod,busrod,cv")
    meta(name="description", content="Antonio Bustos, software developer focused on web, network and mobile applications.")
    meta(name="author", content="Antonio Bustos")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    title Antonio Bustos
    style
      include style.css
  body
    include:markdown portfolio.md
