body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 5%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
li {
  margin: 4px 0;
}
ul.links {
  list-style-type: none;
  padding-left: 10px;
}
.img-wrapper {
    width: 13px;
    height: 0;
    position: relative;
}
.img-wrapper img {
    width: 100%;
    position: absolute;
}
.links span {
  margin-left: 16px;
}
footer {
  margin-top: 36px;
}
footer blockquote {
  color: gray;
  font-style: italic;
}
